<form class="form">
    <div class="form-group">
        <label for="id">ID</label>
        <input id="id" type="text" ng-model="$ctrl.user.id" />
    </div>
    <div class="form-group">
        <label for="name">Nombre</label>
        <input id="name" type="text" ng-model="$ctrl.user.name" />
    </div>
    <div class="form-group">
        <label for="lastname">Apellido</label>
        <input id="lastname" type="text" ng-model="$ctrl.user.lastname" />
    </div>
    <div class="form-group">
        <label for="tel">Telefono</label>
        <input id="tel" type="text" ng-model="$ctrl.user.tel" />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" ng-model="$ctrl.user.email" />
    </div>
    <div class="form-group">
        <label for="address">Direccion</label>
        <input id="address" type="text" ng-model="$ctrl.user.address" />
    </div>
    
    <button type="button" class="btn btn-large btn-block btn-success" ng-click="$ctrl.saveUser()">Guardar</button>
</form>